{% extends "main.html" %}
{% block content %}

<div class="row">
    <div class="twelve columns center-content">
        <h3>Categories</h3>
    </div>
</div>

{% if 'username' in session %}
<div class="row center-content">
    <a class="button button-primary" href="{{ url_for('new_category')}}">Create a new category</a>
    <br>
    <br>
    </div>
</div>
{% endif %}

{% for c in user_categories %}
    <div class="row center-content">
        <a class="button" href="{{ url_for('show_category_items', category_id = c.id)}}">{{c.name}}</a>
    </div>
    <div class="row center-content">
        <a href="{{ url_for('edit_category', category_id = c.id)}}">Edit</a>
        <a href="{{ url_for('delete_category', category_id = c.id)}}">Delete</a>
        <br>
        <br>
    </div>
{% endfor %}

{% for c in public_categories %}
    <div class="row center-content">
        <a class="button" href="{{ url_for('show_category_items', category_id = c.id)}}">{{c.name}}</a>
        <br>
        <br>
    </div>
{% endfor %}
{% endblock %}
