<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='skeleton.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="container">
    {% include "header.html" %}
        <div class="row">
            <div class="twelve columns center-content">
                <a href="{{ url_for('show_categories') }}" ><h1>Item Catalog</h1></a>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns center-content">
                {% with messages = get_flashed_messages() %}

                {% if messages %}
                    <ul>
                    {% for message in messages %}

                        <li> <strong> {{ message }} </strong> </li>

                    {% endfor %}
                    </ul>
                    <hr>
                    {% endif %}
                {% endwith %}
            </div>

            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>