{% extends "main.html" %}
{% block content %}

<div class="row">
    <div class="twelve columns center-content">
        <h3>Categories</h3>
    </div>
</div>
<div class="row center-content">
    <a class="button button-primary" href="{{ url_for('newCategory')}}">Create a new category</a>
    <br>
    <br>
    </div>
</div>

{% for c in categories %}
    <div class="row center-content">
        <a class="button" href="{{ url_for('showCategoryItems', category_id = c.id)}}">{{c.name}}</a>
    </div>
    <div class="row center-content">
        <a href="{{ url_for('editCategory', category_id = c.id)}}">Edit</a>
        <a href="{{ url_for('deleteCategory', category_id = c.id)}}">Delete</a>
        <br>
        <br>
    </div>

{% endfor %}
{% endblock %}
